@media print
  #nav
    display none

  .exercise,
  .exercise input
    font-size 2.25rem

  .form-control::-webkit-input-placeholder,
  .form-control::placeholder
    color white
    text-shadow none
    display none
